body {
  background-color: #333333;
}

h1, h2 {
  color: white;
  font-weight: bold;
  background-color: black;
}

.paragraph {
  background-color: white;
  padding: 20px;
}

* {
 font-family: Lucida Console, Verdana, Arial, sans-serif;
}
