* {
 font-family: Lucida Console, Verdana, Arial, sans-serif;
}

body {
  background-color: #333333;
}

h1, h2 {
  color: white;
  font-weight: bold;
  background-color: black;
}

.paragraph {
  background-color: white;
  padding: 20px;
}

#toptitle {
  position: fixed;
  top: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px;
}
