* {
 font-family: Lucida Console, Verdana, Arial, sans-serif;
}

body {
  background-color: #333333;
}

h1, h2 {
  color: white;
  font-weight: bold;
  background-color: black;
}

.paragraph {
  background-color: white;
  padding: 20px;
}

#toptitle {
 position: fixed;
 top: 5px;
 background-color: black;
 color: white;
 font-weight: bold;
 padding: 2px;
}

.topmenu {
 position: fixed;
 top: 100px;
 background-color: black;
}

.topmenu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topmenu a:hover {
  background-color: white;
  color: black;
}

.main {
  margin-top: 150px;
}
